@import url(https://fonts.googleapis.com/css?family=Oswald);

*{
font-size:inherit;
font-weight:inherit;
font-family:inherit;
font-style:inherit;
line-height:inherit;
color:inherit;
text-decoration: none;
}

img{
  width: 20%;
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  z-index: -2000;
}

html{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body{
  background: url('msf-showdown.png')  ;
  background-size: cover;
  background-position: 0px;
  left: 0;
}
h1{
  top: 0;
  border-radius: 5px;
  text-align: center;
  font-size: 45px;
  color: maroon;
  font-family: Oswald;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px white;

}
.card{
  width: 95px;
  height: 125px;
  background-position: center center;
  border-radius: 10%;
  background-color: #999;
  background-repeat: space;
}

  .cback{
  position: absolute;
  width: 95px;
  height: 125px;
  font-size: 30px;
  font-family: Oswald;
  color: white;
  transition: transform .8s;
  background-color: maroon;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 10%;
}


.clicked{
  transform: perspective(600px) rotateY(180deg);
}

button{
  position: absolute;
  top: 2%;
  right: 10%;
  width: 10vw;
  height: 8vh;
  color: white;
  text-shadow: 2px 2px 4px maroon;
  font-family: Oswald;
  background-color:inherit;
  border-radius: 50%;
  border: .5px solid #ccc;
  animation: test 5s linear alternate infinite;
}
button:hover {
  border: 3px inset maroon;
  text-shadow: 2px 2px 4px white;
  box-shadow: 6px 4px 21px 4px #fff;
  color: maroon;

}

#board{
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 460px;
  height: 90%;
  border: 6px inset maroon;
  box-shadow: 6px 6px 21px 6px #fff;
  margin: 5px;
  /*background-color: #999;*/
  z-index: 1000;
}
.found{
  display: none;
  visibility: hidden;
}

@keyframes test {
  from {
    color: maroon;
    text-shadow: 2px 2px 4px white;
    border: 2px solid #222;
    }
  to {
    color: white;
    text-shadow: 2px 2px 4px maroon;
    border: .5px solid #ccc;
  }
}

}
